.App {
  text-align: center;
  margin-top: 50px;
}

.sound-wave {
  display: block;
  margin: 30px auto;
}

.transcript {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
